.bottom0 {
  margin-bottom: 0px;
}

.top10 {
  margin-top: 10px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

.searchResult {
  border: 1px solid #666;
  background-color: #ddd;
  border-radius: 10px;
  min-height: 40px;
  margin: 5px;
}

.customHeader {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.content {
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.commentArea {
  min-height: 50px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.comment {
  min-height: 50px;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #eee;
  font-size: 16px;
  padding: 10px;
  margin: 5px;
}

.commentHead {
  font-size: 12px;
}

.noComments {
  margin: 20px;
  text-align: center;
  font-style: italic;
}
