<!-- Used for both the group and main pages -->
<div class="container">
    <div class="jumbotron">
        <div class="page-header">
            <h1 ng-show="group"><span class="text-capitalize" ng-bind="group.name">Loading..</span> <small>Group Page</small></h1>
            <h1 ng-show="!group">Front Page!</h1>
        </div>
        <div ng-show="!user">
            <p>Login to to subscribe and post!</p>
        </div>
        <div ng-show="user && group">
            <p>Controls:</p>
            <button class="btn btn-primary">Post <i class="fa fa-file-text"></i></button>
            <button class="btn btn-success" ng-show="can_subscribe" ng-click="subscribe()">Subscribe <i class="fa fa-plus-circle"></i></button>
            <button class="btn btn-warning" ng-show="can_unsubscribe" ng-click="unsubscribe()">Unsubscribe <i class="fa fa-minus-circle"></i></button>
        </div>
        <div ng-show="user && !group">
            <p>Controls:</p>
            <button class="btn btn-success">New Group <i class="fa fa-plus-circle"></i></button>
        </div>
    </div>
</div>
