<!-- Used for both the group and main pages -->
<div class="container">

  <a ng-if="group" ng-href="#/">
    <i class="fa fa-angle-double-left fa"></i> Back to Front page
  </a>
    <div class="jumbotron">
        <div class="page-header">
            <h1 ng-show="group"><span class="text-capitalize" ng-bind="group.name">Loading..</span> <small>Group Page</small></h1>
            <h1 ng-show="!group">Front Page!</h1>
            <p ng-show="owner">You own this group.</p>
            <p ng-if="group" ng-show="group && !owner"><span user-name user-id="group.owner"></span> owns this group.</p>
        </div>
        <div ng-show="!user">
            <p>Login to to subscribe, post, and more!</p>
        </div>
        <div ng-show="user && group">
            <p>Controls:
                <a ng-href="#/group/{{group.name}}/new" class="btn btn-primary">Post <i class="fa fa-file-text"></i></a>
                <button class="btn btn-success" ng-show="can_subscribe" ng-click="subscribe()">Subscribe <i class="fa fa-plus-circle"></i></button>
                <button class="btn btn-warning" ng-show="can_unsubscribe" ng-click="unsubscribe()">Unsubscribe <i class="fa fa-minus-circle"></i></button>
                <button class="btn btn-danger" ng-show="owner" ng-click="deleteGroup()">Delete <i class="fa fa-trash"></i></button>
            </p>
        </div>
        <div ng-show="user && !group">
            <p>Controls:
                <a ng-href="#/group/new" class="btn btn-success">New Group <i class="fa fa-plus-circle"></i></a>
            </p>
        </div>
    </div>

    <div>
        <h1><i class="fa fa-file-text"></i> Posts</h1>
        <div ng-show="!posts.length" class="well lead"><p>No posts found!</p></div>
        <table ng-show="posts.length" class="table table-striped lead">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Poster</th>
                    <th>Submitted</th>
                    <th ng-show="!group">Group</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts">
                    <td >{{post.score}}</td>
                    <td class="text-capitalize">{{post.title}}</td>
                    <td>
                        <span ng-show="post.link_post"><i class="fa fa-link"></i></span>
                        <span ng-show="!post.link_post"><i class="fa fa-pencil"></i></span>
                    </td>
                    <td><span user-name user-id="post.user"></span></td>
                    <td>{{post.created | date:'short'}}</td>
                    <td ng-show="!group"><span group-name group-id="post.group"></span</td>
                    <td>
                        <a class="btn btn-primary" ng-href="{{post.link}}" ng-show="post.link_post"><i class="fa fa-external-link"></i></a>
                        <a class="btn btn-default" ng-href="#/post/{{post._id}}"><i class="fa fa-comments"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
