<div class="container">

  <a ng-href="#/group/{{group.name}}">
    <i class="fa fa-angle-double-left fa"></i>
    Back to group:
    <span class="text-capitalize" ng-if="group" ng-bind="group.name"></span>
  </a>

  <div class="jumbotron">
    <div class="page-header">
        <span class="score pull-right">{{post.score}}pts</span>
        <h1>
            <span class="text-capitalize" ng-bind="post.title"></span>
            <small>
                <span ng-show="post.link_post"><i class="fa fa-link"></i></span>
                <span ng-show="!post.link_post"><i class="fa fa-pencil"></i></span>
            </small>
        </h1>
        <h4>
          <span ng-show="owner">You Posted This</span>
          <span ng-show="!owner">Posted By: <a href="#/profile/{{poster.username}}">{{poster.username}}</a></span>
          <small>{{post.created | date:'short'}} </small>
        </h4>
    </div>

    <div ng-show="user">
        <p>Controls:
            <button class="btn btn-success" ng-click="upvote()" ng-show="vote.value != 1">Upvote <i class="fa fa-arrow-circle-up"></i></button>
            <button class="btn btn-primary" ng-click="nullvote()" ng-show="vote && vote.value != 0">Undo Vote <i class="fa fa-undo"></i></button>
            <button class="btn btn-danger" ng-click="downvote()" ng-show="vote.value != -1">Downvote <i class="fa fa-arrow-circle-down"></i></button>
            <button class="btn btn-danger" ng-click="deletePost()" ng-show="owner">Delete <i class="fa fa-trash"></i></button>
        </p>
    </div>

    <div class="content lead">
        <span ng-show="post.link_post">Link: <a ng-href="{{post.link}}"><span class="lead" ng-bind="post.link">N/A</span></a></span>
        <span ng-show="!post.link_post"><span ng-bind="post.text"></span></span>
    </div>
  </div>

    <div ng-show="user" class="form-group" ng-show="postForm.link_post != 'true'">
      <h3>New Comment</h3>
      <textarea class="form-control" rows="5" ng-model="commentText" placeholder="Enter comment text"></textarea>
      <button class="btn btn-success top10" ng-click="addComment(commentText)">Add Comment <i class="fa fa-plus-circle"></i></button>
    </div>

    <div>
        <h3>All Comments</h3>
        <div class="commentArea">
          <div class="noComments" ng-show="!comments.length">
            No one has commented yet...
          </div>
          <div class="comment" ng-repeat="comment in comments">
            <div class="commentHead">
              <span user-name user-id="comment.user"></span>
              <small>{{comment.created | date:'short'}}</small>
            </div>
            {{comment.text}}
          </div>
        </div>
    </div>


</div>
