<div class="container">
  <div class="jumbotron">
    <div class="page-header">
      <h1 ng-show="profileOwner">Your Profile!</h1>
      <h1 ng-show="!profileOwner">{{profileUser.username}}'s Profile</h1>
    </div>
    <div ng-show="!user">
      <p>Login to to friend this user.</p>
    </div>
    <div ng-show="user && !profileOwner">
      <p>Controls:</p>
      <button class="btn btn-success" ng-click="unsubscribe()">Add Friend <i class="fa fa-plus-circle"></i></button>
      <button class="btn btn-warning" ng-click="unsubscribe()">Remove Friend <i class="fa fa-minus-circle"></i></button>
    </div>
  </div>

  <div ng-show="profileOwner">
    <h2><i class="fa fa-bars"></i> Your Subscriptions:</h2>
    <div ng-show="!subscribed">
      <p>You have no subscriptions!</p>
    </div>
    <ul class="list-group">
      <span ng-repeat="group in subscribed">
        <a ng-href="#/group/{{group.name}}">
          <li class="list-group-item lead text-capitalize">
          {{group.name}}
          </li>
        </a>
      </span>
    </ul>
  </div>
</div>
