<div class="container">
  <div class="jumbotron">
    <div class="page-header">
      <h1 ng-show="profileOwner">Your Profile!</h1>
      <h1 ng-show="!profileOwner">{{profileUser.username}}'s Profile</h1>
      <span ng-show="!profileOwner">
        <p ng-show="friended">You've friended this user!</p>
        <p ng-show="!friended">You haven't friended this user.</p>
      </span>
      <p>User since {{profileUser.created | date:'longDate'}}.</p>
    </div>
    <div ng-show="!user">
      <p>Login to to friend this user.</p>
    </div>
    <div ng-show="user && !profileOwner">
      <p>Controls:
        <button class="btn btn-success" ng-click="friend()" ng-show="!friended">Add Friend <i class="fa fa-plus-circle"></i></button>
        <button class="btn btn-warning" ng-click="unfriend()" ng-show="friended">Remove Friend <i class="fa fa-minus-circle"></i></button>
      </p>
    </div>
  </div>

  <!-- Subs -->
  <div ng-show="profileOwner">
    <h2><i class="fa fa-bars"></i> Your Subscriptions:</h2>
    <div ng-show="!subscribed.length">
      <div class="well lead">
        <p>You have no subscriptions!</p>
      </div>
    </div>
    <ul class="list-group" ng-show="subscribed.length">
      <span ng-repeat="group in subscribed">
        <a ng-href="#/group/{{group.name}}">
          <li class="list-group-item lead text-capitalize">
          {{group.name}}
          </li>
        </a>
      </span>
    </ul>
  </div>

  <!-- Friends -->
  <div ng-show="profileOwner">
    <h2><i class="fa fa-users"></i> Your Friends:</h2>
    <div ng-show="!friends.length">
      <div class="well lead">
        <p>You haven't friended anyone yet!</p>
      </div>
    </div>
    <ul class="list-group" ng-show="friends.length">
      <span ng-repeat="user in friends">
        <a ng-href="#/profile/{{user.username}}">
          <li class="list-group-item lead text-capitalize">
            {{user.username}}
          </li>
        </a>
      </span>
    </ul>
  </div>

  <!-- Posts -->
  <div>
    <h2><i class="fa fa-file-text"></i> <span ng-show="profileOwner">Your </span>Posts:</h2>
    <div ng-show="!posts.length">
      <div class="well lead">
        <p>No Posts Found!</p>
      </div>
    </div>
    <ul class="list-group" ng-show="posts.length">
      <span ng-repeat="post in posts">
          <li class="list-group-item lead text-capitalize">
          <div>
            <a ng-href="#/post/{{post._id}}">{{post.title}}</a><small> (<span group-name group-id="post.group"></span>)<small>
          </div>
          <div>
            {{post.created | date:'short'}}
          </div>
          </li>
      </span>
    </ul>
  </div>

  <!-- Comments -->
  <div>
    <h2><i class="fa fa-comments"></i> <span ng-show="profileOwner">Your </span>Comments:</h2>
    <div class="commentArea">
      <div class="noComments" ng-show="!comments.length">
        No Comments Found!
      </div>
      <div class="comment" ng-repeat="comment in comments">
        <div class="commentHead">
          Comment on post: <span post-title post-id="comment.post"></span>
          <small>{{comment.created | date:'short'}}</small>
        </div>
        {{comment.text}}
        <div></div>
      </div>
    </div>
  </div>
</div>
